@define-color text #cdd6f4;
@define-color subt0 #a6adc8;
@define-color subt1 #bac2de;
@define-color over0 #6c7086;
@define-color over1 #7f849c;
@define-color over2 #9399b2;
@define-color surf0 #313244;
@define-color surf1 #45475a;
@define-color surf2 #585b70;
@define-color base #1e1e2e;

window#waybar {
    background: rgba(30, 32, 48, 0.25);
    color: @text;

    font-family: "CaskaydiaCove NFP";
    font-weight: 400;
}

tooltip {
    background: @over0;
    border: 1px solid @over1;
    color: @text;
    text-shadow: none;
}

tooltip label {
    color: @text;
}

label.module {
    transition: all 0.25s;
    outline: none;
    padding: 0 10px;
    color: @text;
    border: none;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 0;
}

#network, #clock { background: @surf2; }
#battery, #memory { background: @surf1; }
#wireplumber, #temperature, #cpu { background: @surf0; }

#wireplumber:hover, #clock:hover {
    box-shadow: inherit;
    text-shadow: inherit;

    background: @over2;
}

#workspaces {
    background: @base;
    padding: 0 5px;
}

#workspaces button {
    background: transparent;
    color: @over1;

    border: none;
    border-radius: 0;
    outline: none;
    padding: 0 5px;

    transition: all 0.25s;
}

window#waybar #workspaces button.active {
    color: @text;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: inherit;
    text-shadow: inherit;

    color: @subt0;
}
